/* geral */
body{
    top: 0%;
    right: 0%;
}

main{
    position: relative;
    z-index: auto;
}

header{
    top: 0px;
    right: 0px;
}

button{
    width: 180px;
    height: 31px;
}

#banner {
position: absolute;
width: 1360px;
height: 70px;
left: 31px;
top: 30px;
 
}

/* topo */
#Conta_filtro{
position: absolute;
width: 784px;
height: 31px;
left: 31px;
top: 120px;

}

#Add_conta{
position: absolute;

left: 880px;
top: 120px;

}

#F_opcoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 784px;
    height: 16px;
    left: 31px;
    top: 158px;
}

.filtros{
    background-color: rgb(129, 129, 129);
    margin-right: 11px;
    margin-top: 21px;
    padding: 4px;
    font-size: 16px;
}

#D_contas{
    position: absolute;
    width: 1029px;
    height: 798px;
    left: 31px;
    top: 200px;
    background: #D9D9D9;
}


/* conatas */
.conta{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
    width: 96%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: bisque;
    height: 72px ;
}

/* #nome{
    
} */

.selo_conta{
    width: 50px;

}

/* selos */
#top_selos{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 305px;
    height: 29px;
    left: 1089px;
    top: 123px;
}

#D_selos{
    position: absolute;
    width: 305px;
    height: 798px;
    left: 1086px;
    top: 200px;

    background: #D9D9D9;

}

.selos_prev{
    width: 89px;
    margin: 10px;
}
